<!-- templates/login.html -->

{% extends "base.html" %}

{% block body %}
    <div class="container">
        <h3 class="title">Login</h3>
        <div class="box">
            <form method="POST" action="/auth/login">
                <div class="field">
                    <div class="control">
                        <label>Email<input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus required></label>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label>Password<input class="input is-large" type="password" name="password" placeholder="Your Password" required></label>
                    </div>
                </div>
                <input type="submit" class="button is-block is-info is-large is-fullwidth">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            </form>
        </div>
    </div>
{% endblock %}
