/* index.css */
/* style.css */

#page_top {
    margin-top: 3.2em;
}

#flash_messages {
    background: violet;
    margin-top: 3.2em;
}

#flash_messages_close {
}

#current_user_menu {
    color: blue;
}

.table-bordered td {
    border: none !important;
    border-right: solid 1px #ccc !important;
    padding: 0.1em;
}

.Collapsible {
    background-color: white;
}

.Collapsible__contentInner {
    padding: 10px;
    border: 1px solid #ebebeb;
    border-top: 0;
}

.Collapsible__contentInner p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
}

.Collapsible__contentInner p:last-child {
    margin-bottom: 0;
}

.Collapsible__trigger {
    display: block;
    font-weight: 400;
    text-decoration: none;
    color: #333333;
    position: relative;
    border: 1px solid white;
    padding: 10px;
    background: #00ac9d;
}

.Collapsible__trigger:after {
    content: '>';
    font-size: larger;
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms;
}

.Collapsible__trigger.is-closed:after {
    transform: rotateZ(90deg);
}

.Collapsible__trigger.is-disabled {
    opacity: 0.5;
    background-color: grey;
}

.CustomTriggerCSS {
    background-color: lightcoral;
    transition: background-color 200ms ease;
}

.CustomTriggerCSS--open {
    background-color: darkslateblue;
}

.Collapsible__custom-sibling {
    padding: 5px;
    font-size: 12px;
    background-color: #CBB700;
    color: black;
}


.w-5 {
    width: 5%
}

.w-10 {
    width: 10%
}

.w-15 {
    width: 15%
}

.w-20 {
    width: 20%
}

.w-30 {
    width: 30%
}

.w-40 {
    width: 40%
}

.w-70 {
    width: 70%
}
