/* index.css */
/* style.css */

#page_top {
    margin-top: 3.2em;
}

#flash_messages {
    background: violet;
    margin-top: 3.2em;
}

#flash_messages_close {
}

#current_user_menu {
    color: blue;
}
