<!doctype html>
<html lang="en">
<head>
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">

    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"
            integrity="sha256-AdQN98MVZs44Eq2yTwtoKufhnU+uZ7v2kXnD5vqzZVo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    {% import_js 'base.js' %}
</head>
<body>
<!-- setup values -->
<input type="hidden" name="logout_link_active" value="yes">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<input type="hidden" name="CONFIG_LOGIN_MESSAGE" value="{{ config.LOGIN_MESSAGE }}"/>
<input type="hidden" name="CONFIG_TITLE" value="{{ config.TITLE }}"/>
<script>window.g ={{ g.d | tojson }}</script>
<!-- flash message -->
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <section id="page_top" class="container">
            {% for category, message in messages %}
                <div class="flashed-message alert alert-{{ category if category not in ['temporary', 'message'] else 'info' }} flashed-message-{{ category }}"
                     role="alert">
                    <a href="#" title="close" class="close"
                       aria-label="Close"
                       aria-hidden="true">&times;</a>
                    <span id="flash-message">{{ message }}</span>
                </div>
            {% endfor %}
        </section>
    {% endif %}
{% endwith %}
{% block body %}{% endblock %}
<script src="/static/js/jquery.scrolly.min.js"></script>
<script src="/static/js/skel.min.js"></script>
{% if FLASK_ENV == 'development' %}
    <script src="/static/js/auto_reload.js"></script>
{% endif %}
</body>
</html>
