{% extends "base.html" %}
{% block body %}
    <!-- One -->
    <div class="container">
        <h2>{{ server.name }}: {{ container_name }}</h2>
        <h3 data-bind="text: message"></h3>
        <p data-bind="text: status"></p>
    </div>
    <!-- One -->
    <div class="container">
        <h3>Log</h3>

        <table>
            <thead>
            </thead>
            <tbody data-bind="foreach: logs">
            <tr>
                <td data-bind="text:text"></td>
            </tr>
            </tbody>
        </table>
        <hr>
        <label for="autoRefresh">Auto Refresh</label><input id="autoRefresh" type="checkbox"
                                                            data-bind="checked: refreshLogs">
    </div>
    <input name="server-id" type="hidden" value="{{ server.id }}">
    <input name="container-name" type="hidden" value="{{ container_name }}">
    <input name="server-name" type="hidden" value="{{ server.name }}">
    <input name="server-credentials" type="hidden" value="{{ server.credentials }}">
    {% import_js 'pageContainer.js' %}

{% endblock %}
