{% extends "base.html" %}
{% block body %}
    <!-- One -->
    <div class="container">
        <h2>{{ server.name }}: {{ container_name }}</h2>
    </div>
    <!-- One -->
    <div class="container">
        <div class="flex-item" id="jsx_content">

        </div>
    </div>
    <input name="server-id" type="hidden" value="{{ server.id }}">
    <input name="container-name" type="hidden" value="{{ container_name }}">
    <input name="server-name" type="hidden" value="{{ server.name }}">
    <input name="server-credentials" type="hidden" value="{{ server.credentials }}">
    <script src="/static/src/jsx/container_log.js"></script>

{% endblock %}
