{% extends "base.html" %}
{% block body %}
    <!-- Banner -->
    <section id="banner">
        <div class="content">
        </div>
    </section>

    <!-- One -->
    <div class="wrapper">
        <div class="inner flex flex-2">
            <div class="flex-item box">
                <div class="content">
                    <h3>Process</h3>
                    <p>Invest 500K Euros (for five years) as a Co-Owner in luxury Real Estate in Portugal for a Golden
                        Visa
                        Residency Permit. We meticulously vet all Co-Owners. Spend 14 days a year in Portugal to
                        maintain
                        Residency Permit. Five Years of Golden Visa Residency entitles you to Citizenship in your sixth
                        year. We at EU Passport via Portugal manage your property and assist in its sale after five
                        years. </p>

                </div>
            </div>
            <div class="flex-item box">
                <div class="content">
                    <h3>Mission</h3>
                    <p>Our mission is to help our clients achieve sovereign flexibility. By investing 500K Euros in real
                        estate in Portugal, after five years, our clients can obtain Portugese citizenship and
                        therefore, be
                        entitled to live, study and work anywhere in the EU. Sovereign flexibility provides the freedom
                        to
                        experience cultures, languages and education and business opportunities that are otherwise only
                        available to the ultra-rich. </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Two -->
    <section id="two" class="wrapper style1 special">
        <div class="inner">
            <h2>Philosophy</h2>
            <figure>
                <blockquote>
                    "Life is too short to live in only one country."
                </blockquote>
                <footer>
                    <cite class="author">Paula Natasha Chavez,</cite>
                    <cite class="company">EU Passport via Portugal</cite>
                </footer>
            </figure>
        </div>
    </section>
    <div class="wrapper">
        <div class="inner flex">
            <div class="flex-item">
                <div class="content">
                    <h3>Why our EU Passport via Portugal Proposal makes the Most Sense to Obtain EU Citizenship</h3>
                    <p>There are several EU countries offering investment schemes for obtaining EU citizenship. See: <a
                            href="https://www.bbc.com/news/business-49958628" target="_blank">BBC news</a></p>
                    <p>
                        In the GFC, Portugal knew it needed foreign investment. To attract investment, it developed
                        several paths to citizenship via a Golden Visa.</p>
                    <p>See: <a href="https://www.portugalist.com/get-portuguese-nationality/" target="_blank">Portuguese
                        Nationality</a>,
                        <a href="https://www.escapeartist.com/blog/get-residency-second-passport-portugal"
                           target="_blank">Second
                            Passport</a>, and
                        <a href="https://nomadgate.com/portugal-golden-visa-guide/" target="_blank">Golden Visa</a>.</p>
                    <p>
                        We believe that the package we promote for Portuguese citizenship is the least time consuming,
                        the least risky, the simplest and in the end, the least costly. All other paths to Portuguese
                        citizenship require substantial effort by the Golden Visa applicant, and a substantial risk of
                        capital loss. While there is an upfront investment expenditure in Portuguese real estate with
                        our package, after five-six years, a Co-Owner can divest. The lux properties purchased will
                        have been improved, and therefore, most likely their value will have increased. At divestiture,
                        the Co-Owners will most likely realise their original property investment and more.
                    </p>
                    <p>
                        The type of properties purchased is relevant to the plan. It is true that an individual investor
                        with 500K Euros can buy an individual property and go it alone. The investor can obtain the
                        services of lawyers just as we do, and then property managers while they hope for the best that
                        their property will be maintained well enough to receive back their 500K Euros investment in
                        five-six years. But there are few properties available for this price near metropolitan areas,
                        and their condition is questionable as will be their costs for maintenance and improvements.
                    </p>
                    <p>
                        In our business model, we purchase only lux properties. Since we purchase lux properties with
                        multiple living quarters for 1M-3M Euros with 2-6
                        Co-Owners, the properties are in excellent condition, and can be made holiday rentals readily.
                        The profits from the rentals will be put back into the property as improvements (avoiding
                        Portuguese income tax for the Co-Owners) so that when the property is sold, most likely the
                        funds put into the property will be realised. The Co-Owners can consider the money spent on the
                        property as temporary for which they receive an EU passport, which will be returned when they
                        receive their citizenship and as they can divest.
                    </p>
                    <p>
                        Since the Golden Visa requires 14 days spent in Portugal per year, those days can be spent at
                        the Co-Owners' own lux property. With no muss, and no fuss, their investment in the lux property
                        is well looked after. In five-six years, a Co-Owner and their family, including dependent adults
                        are eligible for a Portuguese passport.

                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">

        <div class="inner flex">
            <div class="flex-item">
                <div class="content">
                    <h3>Services</h3>
                    <h4>Services in Sydney</h4>
                    <ul>
                        <li>Locate luxury Portuguese properties having multiple residences for 1M-3M Euros (2-6
                            Co-Owners)
                        </li>
                        <li>Vet and assemble Co-Owners from Australia, New Zealand and the US</li>
                        <li>Set up the property purchase and Golden Visas with Portuguese lawyers</li>
                        <li>Set up the property with our Portuguese Property Management Company</li>
                    </ul>
                    <h4>Services in Lisbon</h4>

                    <h5>Portuguese lawyers:</h5>
                    <ul>
                        <li>Facilitates the purchase of the property</li>
                        <li>Simultaneously arranges the Golden Visa for each co-owner and their families (including
                            dependent adults).
                        </li>
                    </ul>
                    <h5>Services of our Portuguese Property Management company:</h5>
                    <ul>
                        <li>Prepare property for rental with utilities set up, any licenses, tax portals, etc.</li>
                        <li>Furnish the property for rental</li>
                        <li>Maintain the property</li>
                        <li>Rent property via Airbnb and/or other entities</li>
                        <li>Upgrade the property with rental property profits (in this way, no income tax liability in
                            Portugal)
                        </li>
                        <li>Manage monies</li>
                        <li>Generate reports for co-owners</li>
                        <li>List the property for sale</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="inner flex">
            <div class="flex-item">
                <div class="content">
                    <h3>Why Hire Us?</h3>
                    <p>
                        Paula and Andrew have both been rental property owners. Paula has hired agents to manage her
                        properties in California, Oregon and France. While Paula owed a
                        home in Southern France between 2005 and 2010, she rented as a holiday home for a time. Also,
                        both have rented property from agents. From both sides, Paula and Andrew understand good
                        service. </p>

                    <p> Most
                        importantly, Paula is a dual qualified lawyer and patent attorney in California and in
                        Australia, originally
                        starting
                        her practice in the Silicon Valley in 1990. Paula has been practising law for nearly thirty
                        years,
                        and in that time, she has never had a complaint made against her by a client. She has worked for
                        many clients over the years, always making sure that her clients' needs are met. Client
                        accolades are listed on her personal Linkedin page. You can expect
                        pure
                        professionalism, honesty, hard work and resourcefulness from Paula and Andrew.


                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">

        <div class="inner flex flex">
            <div class="flex-item">
                <div class="content">
                    <h3>Expected Costs per Co-Owner Family</h3>
                    <h4>Property Purchase Cost Investment Requirement</h4>
                    <blockquote>500K Euros = A$807K</blockquote>
                    <h4>Fee for services of Sydney-based Australian Investment Management entity</h4>
                    <blockquote>A$80K</blockquote>
                    <h4>Fees of Portuguese lawyers and Portuguese gov’t for Family Golden Visa</h4>
                    <blockquote>See lawyer’s spreadsheet</blockquote>
                    <h4>Fees to Lisbon-based Portuguese Property Management Company for setup fees and furnishings</h4>
                    <blockquote>20K Euros</blockquote>
                    <h4>Total upfront costs will be approximately A$1M per Co-Owner family.</h4>
                    <blockquote>Full divestiture available after five years, hopefully with a capital gain.</blockquote>
                </div>
            </div>
        </div>
    </div>


    <!-- Three -->
    <section id="three" class="wrapper">
        <div class="inner flex flex-3">
            <div class="flex-item box">
                <div class="image fit">
                    <img src="/static/images/left side image low res.jpg" alt=""/>
                </div>
                <div class="content">
                    <h3>Credentials</h3>
                    <p>Paula N Chavez, CEO, dual qualified lawyer and patent attorney in the US and Australia</p>

                    <p>Andrew D Rowe, CTO, data engineer, webmaster, financial analyst
                    </p>
                </div>
                <div class="image fit">
                    <img src="/static/images/Paula-Natasha-Chavez-photo01_small.jpg" alt=""/>
                </div>
            </div>
            <div class="flex-item box">
                <div class="image fit">
                    <img src="/static/images/portugal-passport.jpg" alt=""/>
                </div>
                <div class="content">
                    <h3>Seminars</h3>
                    <ul class="alt">
                        <li>TBA</li>
                    </ul>
                </div>
            </div>
            <a name="seminars"></a>
            <div class="flex-item box">
                <div class="image fit">
                    <img src="/static/images/right side image low res.jpg" alt=""/>
                </div>
                <div class="content">
                    <h3>Publications, Blogs, etc.</h3>
                    <p>TBA</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
