{% extends "base.html" %}
{% block body %}
    <!-- One -->
    <table class="table">
        <thead>
        <tr>
            <th>Docker Server</th>
            <th>Containers</th>
        </tr>
        </thead>
        <tbody>
        {% for server in servers %}
            <tr>
                <td><a href="{{ url_for('main.page_server', item_id=server.server.id ) }}">{{ server.server.name }}</a>
                </td>
                <td>{{ server.summary.containers }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
