{% extends "base.html" %}
{% block body %}
    <!-- One -->
    <div class="wrapper">

        <div class="inner flex flex-2">
            <div class="flex-item">

                <h2>{{ server.name }}</h2>
            </div>
        </div>
    </div>
    <!-- One -->
    <div class="wrapper">
        <div class="inner flex flex-2">
            <div class="flex-item" id="jsx_content">
            </div>
        </div>
    </div>
    <input name="server-id" type="hidden" value="{{ server.id }}">
    <input name="server-name" type="hidden" value="{{ server.name }}">
    <input name="server-credentials" type="hidden" value="{{ server.credentials }}">
    <script src="/static/src/jsx/server.js"></script>

{% endblock %}
